$alert-icon-size: 24px;
$alert-icon-font-size: px-to-rem(26px);
$alert-icon-top: -10px;
$alert-icon-right: -10px;

$alert-info-icon-color: #2fadd3;
$alert-info-icon-content: '\f05a';
$alert-warning-icon-color: #ea7d00;
$alert-warning-icon-content: '\f059';
