// Card

$card-padding: px-to-rem(28px);
$card-border-color: $color-grey-34;
$card-icon-height: 39px;
$card-icon-margin-bottom: 16px;
$card-color: $color-grey-unit4;
$card-title-margin-bottom: 8px;
$card-title-bottom-bottom: -30px;
$card-desc-font-size: px-to-rem(14px);
$card-hover-mask-opacity: .5;
$card-background-margin-bottom: 38px;
