$usage-table-icon-margin-right: 16px;
$usage-table-icon-desktop-size: px-to-rem(28px);
$usage-table-icon-tablet-size: px-to-rem(26px);
$usage-table-icon-mobile-size: px-to-rem(26px);

// Do and Don't section
$dodont-image-border-bottom-width: 8px;
$dodont-image-min-height: 102px;
$dodont-image-vertical-padding: px-to-rem(28px);
$dodont-image-overlay-color: #9da8b1;
$dodont-title-margin-bottom: 6px;

// Placement section
$placement-title-margin-bottom: 6px;
$placement-image-min-height: 320px;
$placement-caption-font-size: px-to-rem(14px);
$placement-caption-icon-size: 1rem;
