// Design patterns ovierview page
$dp-overview-card-mask-color: #495c6a;
$dp-overview-card-min-height: 156px;
$dp-overview-intro-padding-left: px-to-rem(72px);
$dp-overview-intro-min-height: 56px;
$dp-overview-intro-icon-size: px-to-rem(40px);
$dp-overview-intro-icon-top: 5px;

