
// Icon
$icon-width: 112px !default;
$icon-height: 95px !default;
$icon-vertical-padding: px-to-rem(5px) !default;
$icon-horizontal-padding: 0 !default;
$icon-margin: 8px !default;

// Name
$icon-name-font: px-to-rem(12px) !default;
$icon-name-color: $color-darkgrey-unit4 !default;
$icon-name-line-height: 1 !default;

// Img
$icon-img-padding: px-to-rem(10px) !default;
$icon-img-height: 32px !default;
$icon-img-width: 32px !default;
$icon-img-color: $color-grey-120 !default;

// Hover
$icon-background: $color-lightblue !default;
$icon-font-size: px-to-rem(12px) !default;
$icon-font-color: $color-blue !default;
$icon-font-size-icon: px-to-rem(12px) !default;
$icon-font-line-height: 1.5 !default;

// Actions
$icon-action-height: 40px !default;
$icon-action-width: 112px !default;
$icon-action-bottom: 7px !default;
$icon-action-line-height: 1.25 !default;
$icon-action-icon-margin-right: 5px !default;
$icon-action-padding: px-to-rem(10px) !default;

// Contents
$icon-description-margin-bottom: 28px;