// Main content

$main-content-max-width-without-gutter: 960px;
$main-content-max-width-with-gutter: 992px;
$main-content-top-padding: px-to-rem(set-space(xxxl));
$main-content-bottom-padding: px-to-rem(set-space(xxxl));
$paragraph-margin-bottom: px-to-rem(set-space(xl));
$paragraph-max-width: 640px;
$image-margin-bottom: px-to-rem(set-space(xl));
