// Nav tabs

$nav-tabs-divider-color: $color-grey-34;
$nav-tabs-divider-height: 12px;
$nav-tabs-divider-width: 1px;
$nav-tabs-divider-top: 14px;
$nav-tabs-padding: px-to-rem(6px) px-to-rem(16px);
$nav-tabs-hover-font-weight: 700;
$nav-tabs-border-bottom-width: 3px;
