
$pagination-item-size: 25px !default;
$pagination-item-fill-color: $color-darkgrey-unit4 !default;
$pagination-item-margin: 10px !default;
$pagination-item-padding: 0 0 0 1px !default;
$pagination-item-disabled-opacity: .3 !default;
$pagination-prevnext-margin: 3px 0 0 0;
$pagination-next-left-margin: 1px;
