// Table of contents

$toc-margin-bottom: set-space(xxxxl);
$toc-margin-top: 20px;
$toc-list-padding-left: px-to-rem(26px);
$toc-list-bar-border-left: 4px solid $color-blue;
$toc-list-bar-height: calc(100% - 20px);
$toc-list-bar-left: 3px;
$toc-list-bar-top: 11px;
$toc-list-element-line-height: 1.75;
$toc-list-element-font-weight: 700;
$toc-list-element-color: $color-blue;
$toc-list-element-dot-size: 10px;
$toc-list-element-dot-left: -26px;
$toc-list-element-dot-top: 10px;
$toc-list-element-dot-color: $color-blue;
