<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/design-system.min.css">
</head>

<body>
  <div class="l-column-group">
    <nav class="c-sidebar">
      <div class="c-sidebar__header">
        <div class="c-sidebar__header-top l-align-center">
          <div class="c-sidebar__avatar">
            <img src="../../images/demo/person.png" />
          </div>
          <a class="c-sidebar__header-toggle">
				<svg class="o-icon c-sidebar__header-toggle-icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--angle-left"></use>
				</svg>
			</a>
        </div>
        <div class="c-sidebar__header-user l-align-center">
          <h4 class="c-sidebar__username">Karl Andersson</h4>
          <h5 class="c-sidebar__function-title">Product manager Unit4</h5>
        </div>
      </div>

      <div class="c-sidebar__wrapper" id="wrapper">
        <ul class="c-sidebar__nav" id="nav">
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--group"></use>
					</svg>
					<span class="c-sidebar__nav-item-link-label">Project management</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--cubes"></use>
					</svg>

					<span class="c-sidebar__nav-item-link-label">Experience pack</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--university"></use>
					</svg>

					<span class="c-sidebar__nav-item-link-label">Educational and research</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--male"></use>
					</svg>

						<span class="c-sidebar__nav-item-link-label">Accounting</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--info"></use>
					</svg>

						<span class="c-sidebar__nav-item-link-label">Information pages</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--calendar"></use>
					</svg>

						<span class="c-sidebar__nav-item-link-label">Planner</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--tag"></use>
					</svg>

						<span class="c-sidebar__nav-item-link-label">Customer and sales</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--shopping-bag"></use>
					</svg>

					<span class="c-sidebar__nav-item-link-label">Procurement</span>
					<span class="c-sidebar__badge l-push-right">2</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--money"></use>
					</svg>

						<span class="c-sidebar__nav-item-link-label">Payroll</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--user"></use>
					</svg>

					<span class="c-sidebar__nav-item-link-label"> Personal</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--pie-chart"></use>
					</svg>

					<span class="c-sidebar__nav-item-link-label">Time and expenses</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--puzzle-piece"></use>
					</svg>

					<span class="c-sidebar__nav-item-link-label">Field force</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--pencil"></use>
					</svg>

					<span class="c-sidebar__nav-item-link-label">Forms</span>
				</a>
          </li>
          <li class="c-sidebar__nav-item">
            <a class="c-sidebar__nav-item-link">
					<svg class="o-icon c-sidebar__nav-item-link-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon--archive"></use>
					</svg>

					<span class="c-sidebar__nav-item-link-label">Your employment</span>
				</a>
          </li>
        </ul>
      </div>
      <div class="c-sidebar__footer l-align-center l-all-padding l-tiny-100">
        <button class="o-btn o-btn--happy l-all-100 c-sidebar__btn">Sign out</button>
      </div>
    </nav>

    <main role="main" class="l-all-auto l-main-content">
      <section class="c-topbar">
        <div class="c-topbar__wrapper">
          <a href="#" class="c-topbar__link c-topbar__btn--back">
            <span class="c-topbar__link-icon">
              <svg class="o-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--angle-left"></use>
              </svg>
            </span>
          </a>

          <h1 class="c-topbar__title">
            <a href="#">
              <img src="../../images/unit4-logo.svg" width="102" class="c-topbar__element--show-on-desktop" alt="Unit4" />
              <img src="../../images/unit4-logo-white.svg" width="102" class="c-topbar__element--show-on-mobile" alt="Unit4" />
            </a>
          </h1>

          <h2 class="c-topbar__subtitle">Navigation bar</h2>
          <nav class="c-topbar__toolbar">
            <a href="#" class="c-topbar__link c-topbar__expander">
              <span class="c-topbar__link-icon">
                <svg class="o-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--plus"></use>
                </svg>
              </span>
            </a>

            <ul>
              <li class="c-topbar__item--has-badge">
                <a href="#" class="c-topbar__link">
                  <span class="c-topbar__link-icon">
                    <svg class="o-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--comment"></use>
                    </svg>
                    <span class="c-topbar__badge">3</span>
                  </span>
                  <span class="c-topbar__link-title">Messages</span>
                </a>
              </li>
              <li>
                <a href="#" class="c-topbar__link">
                  <span class="c-topbar__link-icon">
                    <svg class="o-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--info-circle"></use>
                    </svg>
                  </span>
                  <span class="c-topbar__link-title">Help</span>
                </a>
              </li>
              <li class="c-topbar__item--has-badge">
                <a href="#" class="c-topbar__link">
                  <span class="c-topbar__link-icon">
                    <svg class="o-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--user"></use>
                    </svg>
                    <span class="c-topbar__badge">0</span>
                  </span>
                  <span class="c-topbar__link-title">Profile</span>
                </a>
              </li>

              <li class="c-topbar__search">
                <a href="#" class="c-topbar__link">
                  <span class="c-topbar__link-icon">
                    <svg class="o-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--search"></use>
                    </svg>
                  </span>
                </a>
                <input class="o-input" type="text" />
              </li>
            </ul>
          </nav>
        </div>
      </section>
      <div class="l-column-group">
        <div class="l-padding">
          <ul class="c-breadcrumb">
            <li class="c-breadcrumb__item">
              <a href="#" title="Go to Purchase">Purchase</a>
            </li>
            <li class="c-breadcrumb__item">
              <a href="#" title="Go to Purchase request">Purchase request</a>
            </li>
            <li class="c-breadcrumb__item">
              <label class="o-label">Add product</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="l-grid">
        <div class="l-column-group l-gutters">
          <div class="l-all-50">
            <h1>Hello world!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id tellus non tortor hendrerit semper non quis mauris. Aliquam luctus, magna sit amet rutrum consequat, sem quam consectetur felis, ac vestibulum eros enim ac est. Cras viverra
              mattis justo, sed luctus nisl vehicula eu. Duis efficitur quis urna ac iaculis. Duis dignissim, justo ultricies auctor sagittis, felis elit accumsan enim, vel imperdiet diam quam vitae felis. Integer vestibulum sem sit amet accumsan semper.
              Nunc eget dui fringilla, hendrerit nunc sit amet, varius quam. Donec eu ipsum sagittis, bibendum orci quis, dictum lacus. Etiam porttitor, metus semper tincidunt hendrerit, urna ex eleifend velit, eu consectetur nunc ipsum ac odio.</p>
            <h2>Second header</h2>
            <p>Vivamus et metus at nunc imperdiet rutrum et nec nibh. Mauris hendrerit est non ex aliquam blandit. Nulla pharetra semper viverra. Aliquam porta, ligula non luctus malesuada, neque diam semper neque, a consequat lectus ligula at justo. Curabitur
              lacinia ipsum eget risus vestibulum tincidunt. In sed felis ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc finibus turpis vitae nisl egestas porta.</p>
            <h2>Third header</h2>
            <p>Donec vitae aliquet odio, quis aliquet lacus. Quisque vitae ante libero. Proin in viverra dolor. Donec condimentum consequat orci, ut lobortis mi tincidunt in. Mauris consequat sapien eget mi scelerisque, quis tempus ipsum fermentum. Nullam
              condimentum semper metus, ornare faucibus diam interdum eu. Vestibulum tristique, est vel luctus fermentum, justo tortor blandit diam, at imperdiet dui nisi quis mauris. Sed odio mi, lobortis ornare risus non, congue posuere velit.</p>
            <table class="c-table">
              <thead>
                <tr>
                  <th>Table header</th>
                  <th>Table header</th>
                  <th>Table header</th>
                  <th>Table header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span class="c-table--wrapper">Name Que dise usteer llevame al sircoo diodenoo pecador caballo blanco caballo negroorl de la pradera</span>
                  </td>
                  <td>
                    <span class="c-table--wrapper">Last name Papaar papaar al ataquerl pecador Jaaarl!</span>
                  </td>
                  <td>Date</td>
                  <td>
                    <span class="c-table--wrapper">Papaar papaar al ataquerl pecador a gramenawer tiene musho peligro.</span>
                  </td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>Last name</td>
                  <td>Date</td>
                  <td>Year</td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>Last name</td>
                  <td>Date</td>
                  <td>Year</td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>Last name</td>
                  <td>Date</td>
                  <td>Year</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="l-all-50">
            <h1>Second column!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h3>Something here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <a href="#" class="o-btn o-btn--small o-btn--happy" role="button">Submit</a>
            <a href="#" class="o-btn o-btn--small" role="button">Cancel</a>

          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<script type="text/javascript" src="js/DesignSystem-0.1.1.min.js"></script>

</html>
