<div class="o-form-input">
	<input id="checkbox" type="checkbox" class="o-input--checkbox" checked="checked" />
	<label for="checkbox" class="o--label">Text</label>

	<input id="checkbox1" type="checkbox" class="o-input--checkbox" />
	<label for="checkbox1" class="o--label">Text</label>

	<input id="checkbox2" type="checkbox" class="o-input--checkbox" />
	<label for="checkbox2" class="o--label">Text</label>

	<input id="checkbox3" type="checkbox" class="o-input--checkbox" disabled="disabled" />
	<label for="checkbox3" class="o--label">Disabled</label>

	<input id="checkbox4" type="checkbox" class="o-input--checkbox" disabled="disabled" checked="checked"  />
	<label for="checkbox3" class="o--label">Disabled and checked</label>
</div>
