<div style="min-height: 400px;">
    <a href="" class="o-btn o-btn--small" data-handler-for-menu="button_menu">
        Open menu
    </a>
    <ul class="c-menu" id="button_menu">
        <li class="c-menu__item"><a href="">New item</a></li>
        <li class="c-menu__item"><a href="">Open <span class="c-menu__item__shorthand">Ctrl + O</span></a></li>
        <li class="c-menu__item"><a href="">Save</a></li>
        <li class="c-menu__item"><a href="">Save as</a></li>
        <li class="c-menu__item"><a href="">Export</a></li>

        <li class="c-menu__item">
            <a href="">
                <svg class="o-icon"><use xlink:href="#u4-icon--star"></use></svg>
                Favorites
            </a>
        </li>
        <li class="c-menu__item">
            <a href="">
                <svg class="o-icon"><use xlink:href="#u4-icon--trash"></use></svg>
                Delete item
            </a>
        </li>
        <li class="c-menu__item">
            <a href="">
                <svg class="o-icon"><use xlink:href="#u4-icon--folder"></use></svg>
                Move to folder
            </a>
        </li>
        <li class="c-menu__separator"></li>
        <li class="c-menu__item"><a href="">Recent items</a></li>
        <li class="c-menu__item"><a href="">Logout</a></li>
    </ul>
</div>