<section class="c-topbar c-topbar-demo">
    <div class="c-topbar__wrapper">
        <a href="#" class="c-topbar__link c-topbar__btn--back">
            <span class="c-topbar__link-icon">
                <svg class="o-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--angle-left"></use>
                </svg>
            </span>
        </a>

        <h1 class="c-topbar__title">
            <a href="#">
                <img src="../../images/unit4-logo.svg" width="102" class="c-topbar__element--show-on-desktop" alt="Unit4" />
                <img src="../../images/unit4-logo-white.svg" width="102" class="c-topbar__element--show-on-mobile" alt="Unit4" />
            </a>
        </h1>

        <h2 class="c-topbar__subtitle">Navigation bar</h2>

        <nav class="c-topbar__toolbar">

            <a href="#" class="c-topbar__link c-topbar__expander">
                <span class="c-topbar__link-icon">
                    <svg class="o-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--plus"></use>
                    </svg>
                </span>
            </a>

           <ul>
                <li class="c-topbar__item--has-badge">
                    <a href="#" class="c-topbar__link">
                        <span class="c-topbar__link-icon">
                            <svg class="o-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--comment"></use></svg>
                            <span class="c-topbar__badge ng-binding">3</span>
                        </span>
                        <span class="c-topbar__link-title ng-binding">Messages</span>
                    </a>
                </li>
                <li class="c-topbar__item--has-badge">
                    <a href="#" class="c-topbar__link">
                        <span class="c-topbar__link-icon">
                            <svg class="o-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--info-circle"></use></svg>
                            <span class="c-topbar__badge ng-binding ng-hide">0</span>
                        </span>
                        <span class="c-topbar__link-title ng-binding">Help</span>
                    </a>
                </li>
                <li class="c-topbar__item--has-badge">
                    <a href="#" class="c-topbar__link">
                        <span class="c-topbar__link-icon">
                            <svg class="o-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--user"></use></svg>
                            <span class="c-topbar__badge ng-binding ng-hide">0</span>
                        </span>
                        <span class="c-topbar__link-title ng-binding">Profile</span>
                    </a>
                </li>

                <li class="c-topbar__search">
                    <a href="#" class="c-topbar__link">
                        <span class="c-topbar__link-icon">
                            <svg class="o-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#u4-icon-topbar--search"></use>
                            </svg>
                        </span>
                    </a>
                    <input class="o-input" type="text" />
                </li>
            </ul>
        </nav>
    </div>
</section>
