<div class="c-panel">
    <div class="c-panel__header">
        <h4 class="c-panel__title">Panel header</h4>
    </div>
    <div class="c-panel__body">
        <p>Proin suscipit luctus orci placerat fringilla. Donec hendrerit laoreet risus eget adipiscing. Suspendisse in urna ligula, a volutpat mauris. Sed enim mi, bibendum eu pulvinar vel, sodales vitae dui.</p>
    </div>
    <div class="c-panel__footer">
        <div class="c-panel__buttongroup l-align-right">
            <a href="#" role="button" class="o-btn">Cancel</a>
            <a href="#" role="button" class="o-btn o-btn--happy">OK</a>
        </div>
    </div>
</div>
