<div class="o-form-input">
	<input id="radio" type="radio" name="radio" class="o-input--radio" checked="checked" />
	<label for="radio">Text</label>
	<input id="radio1" type="radio" name="radio" class="o-input--radio" />
	<label for="radio1">Text</label>
	<input id="radio2" type="radio" name="radio" class="o-input--radio" />
	<label for="radio2">Text</label>
	<input id="radio3" type="radio" name="radio_disabled" class="o-input--radio" disabled="disabled" />
	<label for="radio3">Disabled</label>
	<input id="radio4" type="radio" name="radio_disabled" class="o-input--radio" disabled="disabled" checked="checked" />
	<label for="radio3">Disabled and checked</label>
</div>
