  <div class="c-btn-switch">
      <input type="checkbox" id="check1" class="c-btn-group--switch__check" />
      <label for="check1" class="c-btn-group--switch__label"></label>
  </div>

  <label class="o-label">Disabled switch</label>
  <div class="c-btn-switch">
      <input type="checkbox" id="check2" class="c-btn-group--switch__check" disabled="" />
      <label for="check2" class="c-btn-group--switch__label"></label>
  </div>

  <label class="o-label">Disabled on switch</label>
  <div class="c-btn-switch">
      <input type="checkbox" id="Checkbox5" class="c-btn-group--switch__check" checked disabled="" />
      <label for="check2" class="c-btn-group--switch__label"></label>
  </div>
