<table class="c-table">
	<thead>
		<tr>
			<th>Table header</th>
			<th>Table header</th>
			<th>Table header</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<span class="c-table--wrapper">Name Que dise usteer llevame al sircoo diodenoo pecador caballo blanco caballo negroorl de la pradera</span>
			</td>
			<td>
				<span class="c-table--wrapper">Last name Papaar papaar al ataquerl pecador Jaaarl!</span>
			</td>
			<td>Date</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Last name</td>
			<td>Date</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Last name</td>
			<td>Date</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Last name</td>
			<td>Date</td>
		</tr>
	</tbody>
</table>
